*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */

header{
position:sticky;
top:0;
z-index:1000;

width:100%;
padding:20px 30px;

display:flex;
justify-content:space-between;
align-items:center;

background-color:rgb(27 ,38 ,59);
color:white;
}

header h1{
color:rgb(219,213,242);
font-size:38px;
}

.nav-links{
list-style:none;
display:flex;
align-items:center;
gap:30px;
}

.nav-links li{
position:relative;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:500;
transition:.3s;
}

.nav-links a:hover{
color:rgb(0 180 216);
}

/* dropdown */

.dropdown{
position:absolute;
top:100%;
left:0;

background-color:rgb(27,38,59);
list-style:none;

min-width:180px;
padding:10px 0;

border-radius:6px;
box-shadow:0 5px 15px rgba(0,0,0,.3);

display:none;
}

.dropdown li{
padding:10px 20px;
}

.dropdown li a{
display:block;
}

.dropdown-parent:hover .dropdown{
display:block;
}

.dropdown li:hover{
background-color:rgba(255,255,255,.08);
}

.btn-signup{
background:rgba(255,255,255,.2);
padding:10px 25px;
border-radius:20px;
text-decoration:none;
color:white;
font-size:.9rem;
backdrop-filter:blur(5px);
}



/* HERO */

.about-hero{
height:350px;

background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url("images/about-banner.jpg");

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;
text-align:center;
}

.about-hero h1{
font-size:50px;
}

.about-hero p{
margin-top:10px;
font-size:20px;
}


/* ABOUT SECTION */

.about-section{
display:flex;
align-items:center;
gap:60px;

padding:100px 10%;
}

.about-image img{
width:450px;
border-radius:10px;
}

.about-text{
max-width:500px;
}

.since{
color:#d18b00;
font-weight:bold;
margin-bottom:10px;
}

.about-text h2{
font-size:32px;
margin-bottom:20px;
}

.about-text p{
line-height:1.7;
margin-bottom:15px;
}

.about-text button{
background:#d18b00;
border:none;
padding:12px 25px;
border-radius:25px;
color:white;
cursor:pointer;
}


/* WHY US */

.why-us{
background:#f4f4f4;
padding:100px 10%;
text-align:center;
}

.features{
display:flex;
justify-content:center;
gap:40px;
margin-top:50px;
}

.feature{
max-width:250px;
}

.feature i{
font-size:40px;
color:#d18b00;
margin-bottom:15px;
}



/* CTA */

.cta{
background:#1b263b;
color:white;
text-align:center;
padding:80px 10%;
}

.cta button{
margin-top:20px;
background:#d18b00;
border:none;
padding:12px 25px;
border-radius:25px;
color:white;
cursor:pointer;
}