<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/Destinations/Maldives/maldives.css">
</head>
<body>
    <header class="hero">

        <nav class="navbar">
            <div class="logo">Discover<br>Maldives</div>
            <div class="nav-right">
                <ul class="nav-links">
                    <li><a href="../../Index.html">Home</a></li>
                    <li><a href="../Index/About/about.html">About</a></li>
                    <li><a href="../Index/Contact/contact.html">Contact</a></li>
                    <li><a href="pricing/maldives.html">Pricing</a></li>
                </ul>
                <a href="../../Template/signup/index.html" class="btn-signup">Signup</a>
            </div>
            
        </nav>
    
        <div class="hero-content">
            <h1>MALDIVES</h1>
            <p>With so much to see and do in Iceland, it can be hard to choose an activity. Our diverse selection includes hiking, caving, glacier walks, mountain climbing, hunting for the Northern Lights and more!</p>

            <div class="cta-buttons">
                <a href="#" class="btn btn-filled">Find Tours</a>
                <a href="#" class="btn btn-outlined">See Prices</a>
            </div>

        </div>

    </header>
    
</body>
</html>