<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover Iceland</title>
    <link rel="stylesheet" href="../../CSS/Destinations/Switzerland/Switzerland.css">
</head>
<body>
    <header class="hero">

        <nav class="navbar">
            <div class="logo">Discover<br>Switzerland</div>
            <div class="nav-right">
                <ul class="nav-links">
                    <li><a href="../../Index.html">Home</a></li>
                    <li><a href="../Index/About/about.html">About</a></li>
                    <li><a href="../Index/Contact/contact.html">Contact</a></li>
                    <li><a href="../Destinations/pricing/Switzerland.html">Pricing</a></li>
                </ul>
                <a href="../../Template/signup/index.html" class="btn-signup">Signup</a>

            </div>
            
        </nav>
    
        <div class="hero-content">
            <h1>SWITZERLAND</h1>
            <p>With so much to see and do in Switzerland, it can be hard to choose an experience. Our diverse selection includes scenic train rides, mountain adventures, skiing in world-class resorts, exploring charming alpine villages, and more!</p>

            <div class="cta-buttons">
                <a href="../Destinations/pricing/Switzerland.html" class="btn btn-filled">Find Tours</a>
                <a href="../Destinations/pricing/Switzerland.html" class="btn btn-outlined">See Prices</a>
            </div>

        </div>

    </header>
    
</body>
</html>