<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turkey Tours Pricing - Ascend</title>
    <link rel="stylesheet" href="../../../CSS/Destinations/Turkey/pricing/turkey.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

<!-- HEADER -->
<header>
    <nav>

        <h1 class="logo">Ascend</h1>

        <ul>
        <li><a href="../../../Index.html">Home</a></li>
        <li><a href="../../../Template/Index/About/about.html">About</a></li>
        <li><a href="../../../Template/Index/Contact/contact.html">Contact</a></li>
        </ul>

        <button class="signup">
            <a style="text-decoration: none; color:white;" href="../../../Template/signup/index.html">Signup</a>
        </button>

    </nav>
</header>


<!-- HERO -->
<section class="pricing-hero">

    <h1>Turkey Tour Packages</h1>
    <p>Discover the beauty of East meets West</p>

</section>



<!-- PRICING -->
<section class="pricing">

    <h2>Tour Packages</h2>

    <div class="pricing-container">


        <!-- BASIC -->
        <div class="price-card">

        <h3>Basic</h3>

        <p class="price">$749</p>

        <ul>
        <li><i class="fa-solid fa-check"></i> 3 Days Tour</li>
        <li><i class="fa-solid fa-check"></i> Hotel Stay</li>
        <li><i class="fa-solid fa-check"></i> Istanbul City Tour</li>
        <li><i class="fa-solid fa-check"></i> Airport Pickup</li>
        </ul>

        <button>Book Now</button>

        </div>



<!-- EXPLORER -->
        <div class="price-card popular">

            <h3>Explorer</h3>

            <p class="price">$1249</p>

            <ul>
            <li><i class="fa-solid fa-check"></i> 5 Days Tour</li>
            <li><i class="fa-solid fa-check"></i> 4 Star Hotel</li>
            <li><i class="fa-solid fa-check"></i> Cappadocia Tour</li>
            <li><i class="fa-solid fa-check"></i> Bosphorus Cruise</li>
            <li><i class="fa-solid fa-check"></i> Airport Transfer</li>
            </ul>

            <button>Book Now</button>

        </div>



<!-- LUXURY -->
    <div class="price-card">

        <h3>Luxury</h3>

        <p class="price">$2099</p>

        <ul>
        <li><i class="fa-solid fa-check"></i> 7 Days Tour</li>
        <li><i class="fa-solid fa-check"></i> 5 Star Hotels</li>
        <li><i class="fa-solid fa-check"></i> Private Guide</li>
        <li><i class="fa-solid fa-check"></i> Cappadocia Hot Air Balloon</li>
        <li><i class="fa-solid fa-check"></i> Cultural Shows</li>
        <li><i class="fa-solid fa-check"></i> Luxury Transport</li>
        </ul>

        <button>Book Now</button>

    </div>


</div>

</section>


</body>
</html>