*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


/* HEADER */

header{
background:#1b263b;
padding:20px 8%;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav ul li a{
text-decoration:none;
color:white;
}

.signup{
background:#d18b00;
border:none;
padding:8px 18px;
border-radius:20px;
color:white;
cursor:pointer;
}


/* HERO */

.pricing-hero{

height:350px;

background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url("images/italy.jpg");

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;
text-align:center;

}

.pricing-hero h1{
font-size:48px;
}

.pricing-hero p{
margin-top:10px;
font-size:18px;
}



/* PRICING SECTION */

.pricing{

padding:100px 10%;
text-align:center;
background:#f4f4f4;

}

.pricing h2{
font-size:36px;
margin-bottom:50px;
}


.pricing-container{

display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;

}


/* CARD */

.price-card{

background:white;
padding:40px;
width:280px;

border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,0.1);
transition:0.3s;

}

.price-card h3{

font-size:24px;
margin-bottom:15px;

}

.price{

font-size:40px;
color:#d18b00;
margin-bottom:20px;

}

.price-card ul{

list-style:none;
text-align:left;
margin-bottom:25px;

}

.price-card ul li{

margin-bottom:10px;

}

.price-card i{

color:#d18b00;
margin-right:8px;

}

.price-card button{

background:#d18b00;
border:none;
padding:10px 20px;
border-radius:25px;
color:white;
cursor:pointer;

}

.price-card button:hover{

background:#b87700;

}


/* POPULAR CARD */

.popular{

transform:scale(1.05);
border:2px solid #d18b00;

}

.price-card:hover{
transform:translateY(-10px);
transition:0.3s;
}